.profile{
    height: 350px;
    width: 350px;
    flex:auto;
}

.list-1{
    background-color: crimson;
    width: 75%;
    font-weight: bold;
    text-align: center;
    font-size:large;
}

.list-2{
    background-color: rgb(136, 5, 5);
    width: 75%;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.list-title{
    color: chocolate;
}