.profile{
    height: 350px;
    width: 350px;
    flex:auto;
}

.list-1{
    background-color: crimson;
    width: 25%;
    font-weight: bold;
    text-align: right;
    font-size: xx-large;
}

.list-2{
    background-color: rgb(241, 197, 0);
    width: 75%;
    font-weight: bold;
    text-align: center;
    font-size: xx-small;
}

.list-title{
    color: chocolate;
}